.sidebar {
  min-height: 100svh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sidebar-background);
  padding: 25px 15px;
  transition:
    width 0.15s ease,
    padding 0.3s ease;
  z-index: 999;
  user-select: none;
  border-right: 2px solid var(--primary-color);
  box-shadow: 2px 0 10px var(--shadow-color);
}

@media (max-width: 800px) {
  .sidebar {
    position: fixed;
  }
}

.sidebar.extended {
  width: 250px;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar img {
  width: 20px;
}

.menu {
  border: none;
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 100svh;
  background-color: transparent;
  color: var(--text-color);
}

.menu:hover {
  background-color: var(--primary-light);
}

.top,
.bottom {
  display: grid;
  gap: 0.5rem;
  -ms-flex-line-pack: start;
  align-content: start;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar .new-chat {
  border: none;
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.new-chat:hover {
  background-color: var(--primary-dark);
  transform: translateY(-2px);
}

.new-chat {
  justify-content: center;
  width: max-content;
}

.sidebar .recent-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  border: none;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border-radius: 100vh;
  color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.sidebar .recent-entry:hover {
  background-color: var(--primary-light);
}

.fade {
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.none {
  display: none;
  opacity: 0;
  animation: fadeOut 1s forwards;
}

.block {
  display: block;
  opacity: 0;
  animation: fadeIn 1s forwards;
  white-space: nowrap;
}

.centered {
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-content: start;
}

.recent {
  max-height: 65svh;
  overflow-y: auto;
  display: grid;
  overflow-x: hidden;
}

.recent-entry-p {
  width: 100%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
  color: #282828;
}

button:disabled:hover {
  cursor: not-allowed;
}
